* {
  padding: 0;
  margin: 0;
  text-decoration-style: none;
}

body {
  display: flex;

  flex-direction: column;
  width: auto;
  height: auto;
}
.navbar {
  max-height: 100%;
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 13px 14px;
  border-radius: 10px;
}
.logo {
  flex-grow: 1;
}
img {
  width: 70px;
  height: 67px;
  padding-top: 55px;
}
.left-side {
  width: 700px;
  padding-top: 40px;
  margin-bottom: 27px;
  margin-left: 30px;

  margin-right: 40px;
}
.right-side {
  width: 100%;
}

.options {
  flex-grow: 2;
}
.options .option {
  padding: 10px;
}
.option .icon {
  padding-right: 10px;
  padding-left: 10px;
}
.left-side .top .left {
  flex-grow: 2;
}
.left-side .top .right {
  flex-grow: 1;
}
.left-side .top .left .top {
  padding-bottom: 10px;
  padding-right: 20px;
}
.top {
  padding-bottom: 40px;
}
.btn {
  padding-left: -40px;
  height: 43px;
  width: 142px;
  border-radius: 25px;
  border-style: none;
  background-color: #373737;
}

.card {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-left: 5px;
  box-shadow: -13px 14px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  border-radius: 16px;
}
.text {
  margin-left: 25px;
  color: #fff;
}
.pie {
  height: 200px;
  padding-left: 50px;
  margin-top: -40px;
}

#myChart {
  max-width: 100%;
  height: auto;
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge__body {
  margin-top: 40px;
  margin-left: 100px;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #fafffe;
  position: relative;
  border-top-left-radius: 90% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #ff6000;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}
.bottom {
  padding-top: 50px;
}
.bottom .text {
}

#chart {
  width: 700px;
}
.right-side {
  width: 100%;
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 30px;
}
.card-top {
  width: 100%;
  height: 244px;
   max-width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 20px;
  box-shadow: -13px 14px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  border-radius: 16px;

}

.right-side .card-top .top{
 flex-grow: 1;
}
.right-side .card-top .bot{
  margin-bottom: 20px;
  padding-left: 10px;
 flex-grow: 0;
 width: 100%;
 margin-left: 0;
 
}
.right-side .card-top .bot .top{
 background-color: red;
}

/* fix it later  */
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 100%;
    height: auto;
  }
  .gauge__cover {
    top: 35%;
  }
  .gauge__body {
    padding-left: 190px;
    height: 40px;
  }

  .card {
    height: 190px;
    width: 100%;
  margin-right: 10px;
  }

  .gauge{
    max-width: 160px;
  }
  .card-top{
    margin-left: 10px;
    margin-right: 70px;
  }
  .left-side .bottom{
    margin-left: -10px;
  }

  #chart{
    width: auto;
    padding-left: 3px;
    margin-left: 3px;
  }

  .left-side {
    width: 100%;
    margin-right: 0;
  }

  .gauge__body {
  margin-top: 50px;
  margin-left: 5px;

  width: 100%;
  height: 0;



  overflow: hidden;
}
}
